<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/header') %>

        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Crear Servicio
                            </h3>
                        </div>

                        <div class="panel-body">

                            <form action="/crearservicio" method="POST">
                                <div class="form-group"> <label for="nombre">Nombre</label> <input type="text"
                                        class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre"
                                        required> </div>     
                                <div class="form-group">
                                    <label for="precio">Precio</label>
                                    <input type="number" class="form-control" id="precio" name="precio"
                                        placeholder="Ingrese el precio" required>
                                </div>

                                <div class="form-group">
                                    <label for="stock">Duracion Minutos</label>
                                    <input type="number" class="form-control" id="stock" name="duracionMinutos"
                                        placeholder="Ingrese la cantidad disponible" required>
                                </div>

                                <div class="text-right">
                                    <button type="reset" class="btn btn-default">
                                        Limpiar
                                    </button>

                                    <button type="submit" class="btn btn-primary">
                                        Guardar Servicio
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <%- include('../partials/footer') %>

</body>

</html>